/* Beginning responsive design */

/* Fix for the nav size between 1200 and 1024px */
@media (max-width: 1200px) {

	nav > ol  li {
	font-family: 'Dancing Script', cursive;
	font-size:22px;
	padding:5px;
	margin:auto;
	list-style: none;
	}
	
	#logo {
		height:68px;
		widht:164px;
	}
	
	#keurmerk {
		height:70px;
		width:70px;
	}
	
}


/* Smaller screens and tablets */
@media (max-width: 1024px) {
	
	
	/* Header */
	
	#flexheader {
		display: flex;
		flex-wrap:wrap;
		min-height:150px;
		padding-bottom:0px;
	}
	
	#flexnav {
		flex: 100%;
	}
	
	#flexheader img:nth-child(1), #flexheader #flexnav:nth-child(1) {
		order: 1; 
	}
    #flexheader img:nth-child(2), #flexheader #flexnav:nth-child(2) {
		order: 3;
	}
	#flexheader img:nth-child(3), #flexheader #flexnav:nth-child(3) {
		order: 2; 
	}
	#logo {
		transform: scale(0.99,0.99);
	}
	#keurmerk {
		transform: scale(0.99,0.99);
	}
	
	main {
		margin-top:20px;
	}
	
	
	/* Nav */
	
	.flexnav {
		display:none;
	}
	
	.flexnav.responsive {
		display:flex;
		flex-direction:column;
		justify-content: center;
		align-items: center;
	}
	
	.flexnav > ol > li {
		flex:100%;
		text-align:center;
		padding:5px;
	}
	
	nav > ol {
		width:100%;
		margin:0;
		padding:0;
	}
	
	.flexnav ol li:hover, .flexnav a:hover {
		background:#f9ffb2;
		color:#92a647;
	}
	
	#nav-menu{
		display:block;
		text-align: center;
		margin-top:0px;
		padding-top:15px;
		padding-bottom:5px;
		margin-bottom:0px;
		border-bottom:1px solid #f9ffb2;
		font-family: 'Cabin', sans-serif;
		background:#b3cc57;
		height:40px;
		font-size:25px;
	}
	
	#nav-menu a, nav a, nav a:link {
		color: #fff;
		text-decoration: none;
	}
	
	#nav-menu:hover a, nav a:hover, nav > ol > li:hover a {
		color:#6f7f36;
	}
	
	nav {
		margin: 0;
		padding:0;
		background:#b3cc57;
	}
	
	/* Dropdown menu */
	
	.mob-dropdown {
		display:inline !important;
	}

	.dropdown {
		position: relative;
		display: -block;
	}

	.dropdown-content {
		display:none;
		padding:0;
		background:#f9ffb2;
		position: relative;
		box-shadow: 0px 0px 0px;
		z-index: 1;	
	}
	li.dropdown:hover > .dropdown-content  {
		display: block;
	}

	.dropdown-content a {
		text-decoration: none;
		display: block;
		text-align: center;
		font-size:22px;
		padding:2px;
		margin:0;
	}
	
	.dropdown-content a:hover, nav > ol > li.dropdown-content:hover {
		background:#ecf081;
	}
	ol.dropdown-content li, ol.dropdown-content li:hover {
		border:0px;
		width:100%;
	}
	
	.dropdown-content2 {
		margin:auto;
	}
	
	/* Main content */
	
	#mainbox {
		margin:0 auto;
		width:100%;
		padding:0;
		background:#f9ffb2;
		box-shadow:0px 0px 0px;
	}
	#mainbox h1 {
		color:#ab3e5b;
		padding-top:15px;
	}
	
	/* Testimonials */
	
	#testimonials {
		width:100%;
		flex-wrap: wrap;
	}
	
	#testimonials blockquote {
		background:#fcffcc;
		display:block;
		flex:100%;
	}
	
	/* Image max width */
	
	img {
		max-width:100%;
	}
	
	.wsimg {
		flex:100%;
	}
	
	
	/* Webshop */

	#webshopgrid > article {
		flex: 33%;
	}
	
	/* Workshop */
	
	#workshop {
		width:100%;
		background:#ffbe41;
		margin:0;
		padding:0px;
		display:flex;
		flex-direction:column-reverse;
	}
	
	#workshopimg {
		width:100%;
	}
	
	#workshop img {
		object-fit: contain;
		min-width:100%;
		padding:0;
		margin:0;
	}
	
	/* Selectively remove parallax divs */
	
	#img2, #img3 {
		display:none;
	}
	
	/* Footer alignment of elements */
	
	footer {
		flex-direction: column;
	}
	
	footer > section {
		padding-bottom:25px;
	}
	
	footer td > p {
		text-align:right;
	}
	

} 

/* Mobile */

@media (max-width: 768px) {
	
	/* Header */
	
	#flexheader {
		height:150px;
		position:relative;
	}
	
	#logo {
		transform: scale(0.8,0.8);
	}
	#keurmerk {
		transform: scale(0.8,0.8);
	}
	
	
	/* Main */
	
	.youtubevid {
		width:80%;
		}
		
	#mainbox {
		margin-top:50px;
		padding-bottom:20px;
	}
		
	#mainbox h1 {
		font-size:50px;
	}
	
	/* Form fixes */
	
	input, textarea, select {
		width:95%;
		min-width:300px;
		background:#fff;
	}
		
	form {
		margin:auto 0;
	}	

	/* Webshop */

	#webshopgrid > article {
		flex: 100%;
	}

	
	/* Breadcrumbs fix */
	
	ul.breadcrumb {
		margin-top:15px;
	}

	/* Remove first parallax of every page */
	
	.parallax:first-of-type {
		display:none;
	}
	
	/* Did you know images removed */
	
	
	.didyouknow {
		min-height:200px;
		margin:0;
	}
	
	.didyouknow > h2 {
		padding:5px;
		margin-top:10px;
		margin:0;
	}
	
	.slider-button {
		margin-top:650px;
	}
}