html, body {
	height: 100%;
	min-height:100%;
	margin:0;
	padding:0;
	position:relative;
	background:#f9ffb2;
}

#container {
	height:100%;
}

section {
	margin:0;
}


/* Headers formatting */

#mainbox h1 {
	font-family: 'Dancing Script', cursive;
	color:#b3cc57;
	font-size:90px;
	font-weight:lighter;
	text-align:center;
	padding:10px;
	padding-bottom:0px;
	margin:0;
}

h2 {
	font-family: 'Cabin', sans-serif;
	font-size:30px;
	color:#ab3e5b;
	text-align:center;
}

h3 {
	font-family: 'Cabin', sans-serif;
	font-size:33px;
	color:#fff;
	text-align:center;
}

#webshopfront h2 {
	padding:5px;
}


/* Text formatting */

p {
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	padding:15px;
	text-align:center;
}

#mainbox p {
	text-align:left;
}

.button {
	background:#ecf081;
	border-top:2px solid #ffbe40;
	border-left:2px solid #ffbe40;
	border-right:2px solid #a0b64e;
	border-bottom:2px solid #a0b64e;
	color:#7d8e3d;
	padding:10px;
	transition-duration: 0.3s;
}


.button:hover {
	background:#b3cc57;
	border-top:2px solid #a0b64e;
	border-left:2px solid #a0b64e;
	border-right:2px solid #ecf081;
	border-bottom:2px solid #ecf081;
	color:#fff;
	padding:10px;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.bestelknop a, .bestelknop a:link {
	color:#eb9d21;
	font-family: 'Cabin', sans-serif;
	font-weight:bold;
	font-size:24px;
}

.bestelknop a:hover {
	color:#b3cc57;
}

a, a:link {
	color:#9bb14b;
	text-decoration:none;
}

a:hover {
	color:#ab3e5b;
}

/* Social media icons formatting */

.fab {
	font-size:50px;
	text-align:center;
}

.fab>a, .fab>a:link {
	color:#f9ffb2;
}

/* Form formatting */

form {
	margin:50px;
}

input, textarea, select {
	border:1px solid #a0b64e;
	background-image:url("../images/formimg.jpg");
	background-position:right bottom;
	background-repeat:no-repeat;
	min-height:25px;
	min-width:300px;
	display:block;
	margin-bottom:20px;
	font-size:18px;
	font-weight:normal;
}

textarea {
	min-width:600px;
	height:250px;
}

form p {
	padding:5px;
	margin:0;
}

sub {
	display:block;
	text-align:left;
	padding-left:10px;
	font-style:italic;
	color:#787878;
}

.form-button {
	display:inline;
	background:#eff09a;
	color:#acba60;
	font-weight:bold;
	border:1px solid #acba60;
	margin:10px;
	min-width:100px;
	min-height:25px;
	padding:5px;
}

.form-button:hover {
	background:#acba60;
	border:1px solid #eff09a;
	color:#eff09a;
}

/* Header */

#flexheader {
	height:160px;
	width:100%;
	background:#fff;
	position:fixed;
	top: 0;
	display:flex;
	justify-content: center;
	align-items:center;
	box-shadow: 1px 1px 10px #AFAFAF;
	padding-bottom:20px;
}

#logo, #keurmerk {
	margin:25px;
}

/* Nav */

nav > ol  {
	display:flex;
	flex-wrap:wrap;
	margin-left:0px;
	padding-left:0px;
}

nav > ol  li {
	font-family: 'Dancing Script', cursive;
	font-size:30px;
	padding:10px;
	margin:auto;
	list-style: none;
}

nav a, nav a:link {
	color:#ab3e5b;
	text-decoration:none;
}

nav a:hover {
	color:#b3cc57;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

/* Hide mobile nav at first */
#nav-menu {
	display:none;
}


/* Dropdown menu */

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display:none;
	padding:0;
	position: absolute;
	background-color: #fff;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;	
}
li.dropdown:hover > .dropdown-content  {
	display: block;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size:25px;
  text-align:left;
}

.mob-dropdown {
	display:none !important;
}


/* Main content */

main {
	clear:both;
	margin:0;
	margin-bottom:-17px;
	padding:0;
}

#mainbox {
	margin:0 auto;
	margin-top:-200px;
	margin-bottom:60px;
	width:80%;
	background:#fff;
	padding:25px;
	text-align:center;
	box-shadow: 1px 1px 10px #AFAFAF;
}

.youtubevid {
	width:560px;
	height:315px;
}

/* Webshop */

#webshopfront {
	background:#fff;
	margin-top:50px;
	margin-bottom:0px;
	padding:30px;
	padding-bottom:50px;
}

#webshopfront > p {
	padding:0px;
}

#webshopgrid {
	display:flex;
	flex-wrap: wrap;
}

#webshopgrid > article {
	flex: 25%;
	margin:0px;
	justify-content: center;
	margin-bottom:20px;
	transition-duration: 0.5s;
}

.product {
	text-align:center;
}

.product > p {
	padding-left:2px;
	padding-right:2px;
}

#webshopgrid article:hover {
	color:#91a546;
	box-shadow: 1px 1px 10px #AFAFAF;
	
}

/* Did you know */

.didyouknow {
	background:#b3cc57;
	margin-bottom:-20px;
	padding-bottom:65px;
	min-height:90%;
}

.didyouknow h2 {
	font-size:45px;
	font-family: 'Dancing Script', cursive;
	color:#fff;
}

.didyouknow {
	color:#fff;
	font-weight:bold;
}

/* Did you know slider */

.slides {
	display:none;
	transition-duration: 0.3s;
}

.slides > p {
	width:80%;
	margin:auto;
}

.slider-button {
	background:none;
	border:0px;
	margin-top:250px;
	font-size:50px;
	padding:15px;
	color:#fff;
	z-index:2;
}
.left {
	float:left;
}

.right {
	float:right;
}

#wjd1, #wjd2, #wjd3 {
	height:500px;
	width:100%;
	z-index:1;
}

#wjd1 {
	background: url('../images/wistjedat1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#wjd2 {
	background: url('../images/wistjedat2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#wjd3 {
	background: url('../images/wistjedat3.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Workshop */

#workshop {
	width:85%;
	height:85%;
	margin:auto;
	margin-top:50px;
	margin-bottom:50px;
	padding:30px;
	background:#ffbe41;
	display:flex;
	justify-content: center;
	align-items: center;
}

#workshopcontent {
	padding:15px;
}

#workshop img {
	padding:25px;
}

.datehighlight {
	font-family: 'Cabin', sans-serif;
	color:#f9ffb2;
	font-weight:bold;
	font-size:25px;
}

#workshop p {
	padding:5px;
}

/* Footer */

footer {
	width:100%;
	background:#ffbe41;
	margin-top:-20px;
	padding-top:25px;
	padding-bottom:25px;
	display:flex;
	align-items: top;
	flex-wrap: wrap;
}

footer > section {
	min-width:33%;
}

footer address > p, footer td > p {
	font-style:normal;
	padding:0px;
	margin:0px;
	font-size:15px;
	
}

footer table {
	margin:auto;
}

footer a, footer a:link {
	color:#f9ffb2;
	text-decoration:none;
}

footer a:hover {
	color:#ab3e5b;
}

footer h3 {
	padding:20px;
	margin:0px;
}

#socialmedia {
	text-align:center;
}

i.fab {
	padding:20px;
	font-size:70px;
}

footer a.button {
	display:inline-block;	
	margin:auto;
	margin-top:15px;	
	color:#7d8e3d;
}

footer td:nth-child(1) {
	font-weight:bold;
	text-align:right;
}

/* Parallax */

.parallax {
	height:100%;
	width:100%;
	margin:0;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#img1 {
	background-image: url("../images/stock1.jpg");
}
#img2 {
	background-image: url("../images/stock2.jpg");
}
#img3 {
	background-image: url("../images/stock3.jpg");
}
#img4 {
	background-image: url("../images/stock4.jpg");
}
#img5 {
	background-image: url("../images/stock5.jpg");
}

/* Beginning responsive design */

/* Fix for the nav size between 1200 and 1024px */
@media (max-width: 1200px) {

	nav > ol  li {
	font-family: 'Dancing Script', cursive;
	font-size:22px;
	padding:5px;
	margin:auto;
	list-style: none;
	}
	
	#logo {
		height:68px;
		widht:164px;
	}
	
	#keurmerk {
		height:70px;
		width:70px;
	}
	
}


/* Smaller screens and tablets */
@media (max-width: 1024px) {
	
	
	/* Header */
	
	#flexheader {
		display: flex;
		flex-wrap:wrap;
		min-height:150px;
		padding-bottom:0px;
	}
	
	#flexnav {
		flex: 100%;
	}
	
	#flexheader img:nth-child(1), #flexheader #flexnav:nth-child(1) {
		order: 1; 
	}
    #flexheader img:nth-child(2), #flexheader #flexnav:nth-child(2) {
		order: 3;
	}
	#flexheader img:nth-child(3), #flexheader #flexnav:nth-child(3) {
		order: 2; 
	}
	#logo {
		transform: scale(0.99,0.99);
	}
	#keurmerk {
		transform: scale(0.99,0.99);
	}
	

	
	
	/* Nav */
	
	.flexnav {
		display:none;
	}
	
	.flexnav.responsive {
		display:flex;
		flex-direction:column;
		justify-content: center;
		align-items: center;
	}
	
	.flexnav > ol > li {
		flex:100%;
		text-align:center;
		padding:5px;
	}
	
	nav > ol {
		width:100%;
		margin:0;
		padding:0;
	}
	
	.flexnav ol li:hover, .flexnav a:hover {
		background:#f9ffb2;
		color:#92a647;
	}
	
	#nav-menu{
		display:block;
		text-align: center;
		margin-top:0px;
		padding-top:15px;
		padding-bottom:5px;
		margin-bottom:0px;
		border-bottom:1px solid #f9ffb2;
		font-family: 'Cabin', sans-serif;
		background:#b3cc57;
		height:40px;
		font-size:25px;
	}
	
	#nav-menu a, nav a, nav a:link {
		color: #fff;
		text-decoration: none;
	}
	
	#nav-menu:hover a, nav a:hover, nav > ol > li:hover a {
		color:#6f7f36;
	}
	
	nav {
		margin: 0;
		padding:0;
		background:#b3cc57;
	}
	
	/* Dropdown menu */
	
	.mob-dropdown {
		display:inline !important;
	}

	.dropdown {
		position: relative;
		display: -block;
	}

	.dropdown-content {
		display:none;
		padding:0;
		background:#f9ffb2;
		position: relative;
		box-shadow: 0px 0px 0px;
		z-index: 1;	
	}
	li.dropdown:hover > .dropdown-content  {
		display: block;
	}

	.dropdown-content a {
		text-decoration: none;
		display: block;
		text-align: center;
		font-size:22px;
		padding:2px;
		margin:0;
	}
	
	.dropdown-content a:hover, nav > ol > li.dropdown-content:hover {
		background:#ecf081;
	}

	
	
	/* Main content */
	
	#mainbox {
		margin:0 auto;
		width:100%;
		padding:0;
		background:#f9ffb2;
		box-shadow:0px 0px 0px;
	}
	#mainbox h1 {
		color:#9bb14b;
	}
	
	/* Webshop */

	#webshopgrid > article {
		flex: 33%;
	}
	
	/* Workshop */
	
	#workshop {
		width:100%;
		background:#ffbe41;
		margin:0;
		padding:0;
	}
	
	/* Selectively remove parallax divs */
	
	#img2, #img3 {
		display:none;
	}
	
	/* Footer alignment of elements */
	
	footer {
		flex-direction: column;
	}
	
	footer > section {
		padding-bottom:25px;
	}
	
	footer td > p {
		text-align:right;
	}
	

} 

/* Mobile */

@media (max-width: 768px) {
	
	/* Header */
	
	#flexheader {
		height:150px;
		position:relative;
	}
	
	#logo {
		transform: scale(0.8,0.8);
	}
	#keurmerk {
		transform: scale(0.8,0.8);
	}
	
	
	/* Main */
	
	.youtubevid {
		width:80%;
		}
		
	main {
		margin-bottom:20px;
	}
		
	#mainbox {
		padding-top:25px;
	}
		
	#mainbox h1 {
		font-size:50px;
		padding-top:20px;
	}
	
	/* Form fixes */
	
	input, textarea, select {
		width:95%;
		min-width:300px;
	}
		
	form {
		margin:0;
	}	

	/* Webshop */

	#webshopgrid > article {
		flex: 100%;
	}
	
	/* Workshop */
	
	#workshop {
		flex-direction:column-reverse;
	}
	
	#workshopimg {
		width:100%;
	}
	
	#workshop img {
		object-fit: contain;
		min-width:100%;
		padding:0;
		margin:0;
	}

	/* Selectively remove parallax divs */
	
	#img1, #img5 {
		display:none;
	}
	
	/* Did you know images removed */
	
	
	.didyouknow {
		min-height:200px;
		margin:0;
	}
	
	.didyouknow > h2 {
		padding:5px;
		margin-top:10px;
		margin:0;
	}
	
	.slider-button {
		margin-top:650px;
	}
}
