html, body {
	height: 100%;
	min-height:100%;
	margin:0;
	padding:0;
	position:relative;
	background:#f9ffb2;
}

#container {
	height:100%;
}

section {
	margin:0;
}


/* Headers formatting */

#mainbox h1 {
	font-family: 'Dancing Script', cursive;
	color:#b3cc57;
	font-size:90px;
	font-weight:lighter;
	text-align:center;
	padding:10px;
	padding-bottom:0px;
	margin:0;
}

h2 {
	font-family: 'Cabin', sans-serif;
	font-size:30px;
	color:#ab3e5b;
	text-align:center;
}

h3 {
	font-family: 'Cabin', sans-serif;
	font-size:33px;
	color:#fff;
	text-align:center;
}

#webshopfront h2 {
	padding:5px;
}


/* Text formatting */

p, blockquote {
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	text-align:center;
}

p {
	padding:5px;
}

.button {
	background:#ecf081;
	border-top:2px solid #ffbe40;
	border-left:2px solid #ffbe40;
	border-right:2px solid #a0b64e;
	border-bottom:2px solid #a0b64e;
	color:#7d8e3d;
	padding:10px;
	transition-duration: 0.3s;
}


.button:hover {
	background:#b3cc57;
	border-top:2px solid #a0b64e;
	border-left:2px solid #a0b64e;
	border-right:2px solid #ecf081;
	border-bottom:2px solid #ecf081;
	color:#fff;
	padding:10px;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.bestelknop a, .bestelknop a:link {
	color:#eb9d21;
	font-family: 'Cabin', sans-serif;
	font-weight:bold;
	font-size:24px;
}

.bestelknop a:hover {
	color:#b3cc57;
}

a, a:link {
	color:#9bb14b;
	text-decoration:none;
}

a:hover {
	color:#ab3e5b;
}

ol, li {
	text-align:left;
}

/* Testimonials */


blockquote {
	padding:25px;
	margin-top:20px;
	margin-bottom:20px;
	box-shadow: 1px 1px 5px #AFAFAF;
	border-radius:15px;
}

#mainbox p, blockquote {
	text-align:left;
}

blockquote:hover {
	background:#fcffcc;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

#testimonials {
	display:flex;
}

#testimonials blockquote {
	flex: 50%;
	margin:10px;
	justify-content: center;
}

.testimonialauthor {
	font-weight:bold;
	display:block;
	text-indent:20px;
	padding:10px;
}

.testimonialauthor::before {
	content: "-- ";
}

/* Breadcrumbs */

ol.breadcrumb {
	margin:0;
	padding:0;	
	list-style: none;
	float:left;
}
ol.breadcrumb li {
	font-variant:small-caps;
	font-size:18px;
	display:inline;
}
ol.breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: ">";
}

.imgcenter {
	display:block;
	margin:auto auto;
}

/* Fix for h1 on breadcrumb pages */

#breadcrumbheader {
	clear:both;
}

/* Languages */

ol.languages {
	list-style:none;
	margin:0;
	float:right;
}

ol.languages > li {
	
	display:inline;
}


/* Social media icons formatting */

.fab {
	font-size:60px;
}

.fab:hover {
	font-size:65px;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;	
}

.fab>a, .fab>a:link {
	color:#f9ffb2;
}

/* Form formatting */

form {
	margin:50px;
}

input, textarea, select {
	border:1px solid #a0b64e;
	background-image:url("../images/formimg.jpg");
	background-position:right bottom;
	background-repeat:no-repeat;
	min-height:25px;
	min-width:300px;
	display:block;
	margin-bottom:20px;
	font-size:18px;
	font-weight:normal;
}

textarea {
	min-width:600px;
	height:250px;
}

form p {
	padding:5px;
	margin:0;
}

sub {
	display:block;
	text-align:left;
	padding-left:10px;
	font-style:italic;
	color:#787878;
}

.form-button {
	display:inline;
	background:#eff09a;
	color:#acba60;
	font-weight:bold;
	border:1px solid #acba60;
	margin:10px;
	min-width:100px;
	min-height:25px;
	padding:5px;
}

.form-button:hover {
	background:#acba60;
	border:1px solid #eff09a;
	color:#eff09a;
}

input.radiobt {
	min-height:5px;
	min-width:5px;
	display:inline;
}

/* Header */

#flexheader {
	height:100px;
	width:100%;
	background:#fff;
	position:fixed;
	top: 0;
	display:flex;
	justify-content: center;
	align-items:center;
	box-shadow: 1px 1px 10px #AFAFAF;
	padding-bottom:20px;
}

#logo, #keurmerk {
	margin:25px;
}

/* Nav */

nav > ol  {
	display:flex;
	flex-wrap:wrap;
	margin-left:0px;
	padding-left:0px;
}

nav > ol  li {
	font-family: 'Dancing Script', cursive;
	font-size:22px;
	padding:10px;
	margin:auto;
	list-style: none;
}

nav a, nav a:link {
	color:#ab3e5b;
	text-decoration:none;
}

nav a:hover {
	color:#b3cc57;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

/* Hide mobile nav at first */
#nav-menu {
	display:none;
}


/* Dropdown menu */

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display:none;
	padding:0;
	position: absolute;
	background-color: #fff;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;	
}

.dropdown-content2 {
	margin-left:95px;
	margin-top:-40px;
}
li.dropdown:hover > .dropdown-content   {
	display: block;
}

ol.dropdown-content li {
	min-width:75px;
}

ol.dropdown-content li:hover {
	border-bottom:1px solid #b3cc57;
}

.dropdown-content a {
  padding: 3px;
  text-decoration: none;
  display: block;
  font-size:22px;
  text-align:left;
}

.mob-dropdown {
	display:none !important;
}


/* Main content */

main {
	clear:both;
	margin:0;
	margin-bottom:-17px;
	padding:0;
}

#mainbox {
	margin:0 auto;
	margin-top:-200px;
	margin-bottom:60px;
	width:80%;
	background:#fff;
	padding:25px;
	text-align:center;
	box-shadow: 1px 1px 10px #AFAFAF;
}

.youtubevid {
	width:560px;
	height:315px;
}

.sectionbox {
	background:#fff;
	margin:0px;
	padding:30px;
	padding-bottom:50px;
}

/* Webshop */

#webshopfront {
	background:#fff;
	margin-top:50px;
	margin-bottom:0px;
	padding:30px;
	padding-bottom:50px;
}

#webshopfront > p {
	padding:0px;
}

#webshopgrid {
	display:flex;
	flex-wrap: wrap;
}

#webshopgrid > article {
	flex: 25%;
	margin:0px;
	justify-content: center;
	margin-bottom:20px;
	transition-duration: 0.5s;
}

.product {
	text-align:center;
}

.product > p {
	padding-left:2px;
	padding-right:2px;
}

#webshopgrid article:hover {
	color:#91a546;
	box-shadow: 1px 1px 10px #AFAFAF;
	
}

/* Did you know */

.didyouknow {
	background:#b3cc57;
	margin-bottom:-20px;
	padding-bottom:65px;
	min-height:90%;
}

.didyouknow h2 {
	font-size:45px;
	font-family: 'Dancing Script', cursive;
	color:#fff;
}

.didyouknow {
	color:#fff;
	font-weight:bold;
}

/* Did you know slider */

.slides {
	display:none;
	transition-duration: 0.3s;
}

.slides > p {
	width:80%;
	margin:auto;
}

.slider-button {
	background:none;
	border:0px;
	margin-top:250px;
	font-size:50px;
	padding:15px;
	color:#fff;
	z-index:2;
}
.left {
	float:left;
}

.right {
	float:right;
}

#wjd1, #wjd2, #wjd3 {
	height:500px;
	width:100%;
	z-index:1;
}

#wjd1 {
	background: url('../images/wistjedat4.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#wjd2 {
	background: url('../images/wistjedat2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#wjd3 {
	background: url('../images/wistjedat3.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Workshop */

#workshop {
	width:85%;
	height:85%;
	margin:auto;
	margin-top:50px;
	margin-bottom:50px;
	padding:30px;
	background:#ffbe41;
	display:flex;
	justify-content: center;
	align-items: center;
}

#workshopcontent {
	padding:15px;
}

#workshop img {
	padding:25px;
}

.datehighlight {
	font-family: 'Cabin', sans-serif;
	color:#f9ffb2;
	font-weight:bold;
	font-size:25px;
}

#workshop p {
	padding:5px;
}

/* Footer */

footer {
	width:100%;
	background:#ffbe41;
	margin-top:-20px;
	padding-top:25px;
	padding-bottom:25px;
	display:flex;
	align-items: top;
	flex-wrap: wrap;
}

footer > section {
	min-width:33%;
}

footer address > p, footer td > p {
	font-style:normal;
	padding:0px;
	margin:0px;
	font-size:15px;
	
}

footer table {
	margin:auto;
}

footer a, footer a:link {
	color:#f9ffb2;
	text-decoration:none;
}

footer a:hover {
	color:#ab3e5b;
}

footer h3 {
	padding:20px;
	margin:0px;
}

#socialmedia {
	text-align:center;
}

i.fab {
	padding:20px;
}

footer a.button {
	display:inline-block;	
	margin:auto;
	margin-top:15px;	
	color:#7d8e3d;
}

footer td:nth-child(1) {
	font-weight:bold;
	text-align:right;
}

#disclaimer {
	width:100%;
}

#disclaimer ul {
	text-align:center;
}

#disclaimer ul > li {
	display:inline;
	list-style:none;
}

#disclaimer ul > li:not(:first-child)::before {
	content: "- ";
} 

#disclaimer p {
	font-size:14px;
	margin:10px;
	padding:0;
}

#disclaimer a, #disclaimer a:active {
	color:#ab3e5b;
}

#disclaimer a:hover {
	color:#f9ffb2;
}
/* Parallax */

.parallax {
	height:100%;
	width:100%;
	margin:0;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#img1 {
	background-image: url("../images/stock1.jpg");
}
#img2 {
	background-image: url("../images/stock2.jpg");
}
#img3 {
	background-image: url("../images/stock3.jpg");
}
#img4 {
	background-image: url("../images/stock4.jpg");
}
#img5 {
	background-image: url("../images/stock5.jpg");
}
#img6 {
	background-image: url("../images/stock6.jpg");
}
#img7 {
	background-image: url("../images/stock7.jpg");
}
#img8{
	background-image: url("../images/stock8.jpg");
}


